.mainTeaser{
    background-image: url('../../assets/images/teaserImage.jpg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffff;
    
}
.mainTeaserText{
    display: inline-block;
    font-weight: bold;
    background-color: dimgrey;
}