html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@import '../styles/css/bootstrap.css';
:root {
  --primary:#ffff;
  --blue: #00b;
  --fullwidth: 100%;
  --primary-blue: rgb(33, 52, 88);
}
.section-padding-top-xl{
  padding-top: 30px;
}
.section-padding-bottom-xl{
  padding-bottom: 30px;
}